@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(23.93% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(0% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(23.93% 0 0);
  --color-primary: oklch(26.1% 0.0079 84.59);
  --color-primary-foreground: oklch(100% 0 0);
  --color-secondary: oklch(95.51% 0 0);
  --color-secondary-foreground: oklch(99.11% 0 0);
  --color-muted: oklch(95.51% 0 0);
  --color-muted-foreground: oklch(60.66% 0 0);
  --color-accent: oklch(64.01% 0 0);
  --color-accent-foreground: oklch(23.93% 0 0);
  --color-destructive: oklch(92.39% 0.0391 31.56);
  --color-destructive-foreground: oklch(56.26% 0.1824 30.09);
  --color-border: oklch(88.53% 0 0);
  --color-input: oklch(100% 0 0);
  --color-ring: oklch(85.14% 0 0 / 50%);

  /* Bevel Shadows */
  --shadow-bevel-xs:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 2px 2px -1px oklch(0% 0 0 / 5%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 5%), inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%),
    inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-sm:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 4px 4px -2px oklch(0% 0 0 / 5%),
    0px 2px 2px -1px oklch(0% 0 0 / 5%), 0px 1px 1px -0.5px oklch(0% 0 0 / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%), inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-md:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 6px 6px -3px oklch(0% 0 0 / 5%),
    0px 4px 4px -1px oklch(0% 0 0 / 5%), 0px 2px 2px -1px oklch(0% 0 0 / 5%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 5%), inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%),
    inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-lg:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 12px 12px -6px oklch(0% 0 0 / 10%),
    0px 6px 6px -1.5px oklch(0% 0 0 / 5%), 0px 4px 4px 0px oklch(0% 0 0 / 5%),
    0px 2px 2px -1px oklch(0% 0 0 / 5%), 0px 1px 1px -0.5px oklch(0% 0 0 / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%), inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-xl:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 24px 24px -22px oklch(0% 0 0 / 10%),
    0px 12px 12px -8px oklch(0% 0 0 / 10%), 0px 6px 6px -3px oklch(0% 0 0 / 5%),
    0px 4px 4px 2px oklch(0% 0 0 / 5%), 0px 2px 2px -1px oklch(0% 0 0 / 5%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 5%), inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%),
    inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-2xl:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 40px 40px -28px oklch(0% 0 0 / 10%),
    0px 24px 24px -28px oklch(0% 0 0 / 10%), 0px 12px 12px -8px oklch(0% 0 0 / 10%),
    0px 6px 6px -3px oklch(0% 0 0 / 5%), 0px 4px 4px 2px oklch(0% 0 0 / 5%),
    0px 2px 2px -1px oklch(0% 0 0 / 5%), 0px 1px 1px -0.5px oklch(0% 0 0 / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%), inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);

  /* Button Shadows */
  --shadow-button-resting:
    0px 0px 0px 1px oklch(0% 0 0 / 5%), 0px 2px 2px -1px oklch(0% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    0px 4px 8px -2px oklch(0% 0 0 / 10%), 0px 8px 12px -8px oklch(0% 0 0 / 10%),
    inset 0px -2px 2px -1px oklch(0% 0 0 / 50%), inset 0px 2px 2px -1px oklch(100% 0 0 / 20%);
  --shadow-button-hover:
    0px 0px 0px 1px oklch(0% 0 0 / 15%), 0px 2px 2px -1px oklch(0% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    0px 4px 8px -2px oklch(0% 0 0 / 10%), 0px 8px 12px -8px oklch(0% 0 0 / 10%),
    inset 0px -2px 2px -1px oklch(0% 0 0 / 50%), inset 0px 2px 2px -1px oklch(100% 0 0 / 20%);
  --shadow-button-destructive-resting:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 5%),
    0px 2px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 4px 8px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 8px 12px -8px oklch(51.17% 0.1823 30.25 / 10%),
    inset 0px -2px 2px -1px oklch(51.17% 0.1823 30.25 / 20%),
    inset 0px 4px 2px -2px oklch(100% 0 0 / 15%);
  --shadow-button-destructive-hover:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 15%),
    0px 2px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 4px 8px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 8px 12px -8px oklch(51.17% 0.1823 30.25 / 10%),
    inset 0px -2px 2px -1px oklch(51.17% 0.1823 30.25 / 20%),
    inset 0px 4px 2px -2px oklch(100% 0 0 / 15%);
  --shadow-button-outlined-resting:
    0px 0px 0px 1px oklch(0% 0 0 / 5%), 0px 2px 2px -1px oklch(0% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    0px 4px 8px -2px oklch(0% 0 0 / 10%), inset 0px -2px 2px -1px oklch(0% 0 0 / 20%),
    inset 0px 4px 2px -2px oklch(100% 0 0 / 15%);
  --shadow-button-outlined-hover:
    0px 0px 0px 1px oklch(0% 0 0 / 15%), 0px 2px 2px -1px oklch(0% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    0px 4px 8px -2px oklch(0% 0 0 / 10%), inset 0px -2px 2px -1px oklch(0% 0 0 / 20%),
    inset 0px 4px 2px -2px oklch(100% 0 0 / 15%);

  /* Input Shadows */
  --shadow-input-resting:
    0 0 0 1px oklch(0% 0 0 / 10%), 0px 0.5px 0px -0.5px oklch(0% 0 0 / 10%),
    0 1px 0 -1px oklch(0% 0 0 / 10%), 0px 1px 1px -1px oklch(0% 0 0 / 10%),
    0px 1px 2px -1px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    0 4px 6px -8px oklch(0% 0 0 / 10%), 0 6px 6px -12px oklch(0% 0 0 / 10%);
  --shadow-input-hover:
    0px 0px 0px 1px oklch(0% 0 0 / 20%), 0px 0.5px 0px -0.5px oklch(0% 0 0 / 10%),
    0 1px 0 -1px oklch(0% 0 0 / 10%), 0px 1px 1px -1px oklch(0% 0 0 / 10%),
    0px 1px 2px -1px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    0 4px 6px -8px oklch(0% 0 0 / 10%), 0 6px 6px -12px oklch(0% 0 0 / 10%);
  --shadow-input-destructive-resting:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 15%),
    0px 0.5px 0px -0.5px oklch(51.17% 0.1823 30.25 / 50%),
    0 1px 0 -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0 4px 6px -8px oklch(51.17% 0.1823 30.25 / 10%);
  --shadow-input-destructive-hover:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 25%),
    0px 0.5px 0px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0 1px 0 -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0 4px 6px -8px oklch(51.17% 0.1823 30.25 / 10%);
  --shadow-input-destructive-focus:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 25%),
    0px 0.5px 0px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0 1px 0 -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0 4px 6px -8px oklch(51.17% 0.1823 30.25 / 10%);

  /* Checkbox Shadows */
  --shadow-checkbox-resting:
    0px 0.5px 0px -0.5px oklch(0% 0 0 / 10%), 0 1px 0 -1px oklch(0% 0 0 / 10%),
    0px 1px 1px -1px oklch(0% 0 0 / 10%), 0px 1px 2px -1px oklch(0% 0 0 / 10%),
    0px 2px 4px -2px oklch(0% 0 0 / 10%), 0 4px 6px -8px oklch(0% 0 0 / 10%),
    inset 0px -1px 2px -1px oklch(0% 0 0 / 20%), inset 0px 2px 1px -1px oklch(100% 0 0 / 50%);
  --shadow-checkbox-hover:
    0px 0.5px 0px -0.5px oklch(0% 0 0 / 10%), 0 1px 0 -1px oklch(0% 0 0 / 10%),
    0px 1px 1px -1px oklch(0% 0 0 / 10%), 0px 1px 2px -1px oklch(0% 0 0 / 10%),
    0px 2px 4px -2px oklch(0% 0 0 / 10%), 0 4px 6px -8px oklch(0% 0 0 / 10%),
    0 8px 12px -8px oklch(0% 0 0 / 10%), inset 0px -1px 2px -1px oklch(0% 0 0 / 20%),
    inset 0px 2px 1px -1px oklch(100% 0 0 / 50%);

  /* Switch Shadows */
  --shadow-switch-resting:
    0 0 0 1px oklch(0% 0 0 / 5%), inset 0px 0.5px 1px 0.5px oklch(0% 0 0 / 10%);
  --shadow-switch-hover:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), inset 0px 1px 1px 0.5px oklch(0% 0 0 / 10%);
  --shadow-switch-focus:
    0px 0px 0px 1px oklch(0% 0 0 / 10%), 0px 0px 0px 1px oklch(0% 0 0 / 10%),
    inset 0px 1px 1px 0.5px oklch(0% 0 0 / 10%);
  --shadow-switch-thumb:
    0px 0.5px 0px -0.5px oklch(0% 0 0 / 10%), 0 1px 0 -1px oklch(0% 0 0 / 10%),
    0px 2px 2px -1px oklch(0% 0 0 / 10%), 0px 2px 4px -2px oklch(0% 0 0 / 10%),
    inset 0 -2px 4px -2px oklch(100% 0 0), inset 0px 0.5px 0.5px oklch(100% 0 0 / 10%);

  /* Radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 16px;
  --radius-4xl: 20px;
  --radius-5xl: 24px;
  --radius-6xl: 32px;
  --radius-7xl: 40px;
  --radius-8xl: 48px;
  --radius-9xl: 56px;
}

.dark {
  --color-background: oklch(0% 0 0);
  --color-foreground: oklch(94.91% 0 0);
  --color-card: oklch(0% 0 0);
  --color-card-foreground: oklch(100% 0 0);
  --color-popover: oklch(0% 0 0);
  --color-popover-foreground: oklch(94.91% 0 0);
  --color-primary: oklch(94.65% 0.0058 84.57);
  --color-primary-foreground: oklch(0% 0 0);
  --color-secondary: oklch(25.2% 0 0);
  --color-secondary-foreground: oklch(17.76% 0 0);
  --color-muted: oklch(25.2% 0 0);
  --color-muted-foreground: oklch(58.29% 0 0);
  --color-accent: oklch(53.82% 0 0);
  --color-accent-foreground: oklch(94.91% 0 0);
  --color-destructive: oklch(35.39% 0.0591 31.56);
  --color-destructive-foreground: oklch(79.26% 0.1824 30.09);
  --color-border: oklch(34.85% 0 0);
  --color-input: oklch(0% 0 0);
  --color-ring: oklch(40.17% 0 0 / 50%);

  /* Bevel Shadows */
  --shadow-bevel-xs:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 2px 2px -1px oklch(0% 0 0 / 5%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 5%), inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%),
    inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-sm:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 4px 4px -2px oklch(0% 0 0 / 5%),
    0px 2px 2px -1px oklch(0% 0 0 / 5%), 0px 1px 1px -0.5px oklch(0% 0 0 / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%), inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-md:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 6px 6px -3px oklch(0% 0 0 / 5%),
    0px 4px 4px -1px oklch(0% 0 0 / 5%), 0px 2px 2px -1px oklch(0% 0 0 / 5%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 5%), inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%),
    inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-lg:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 12px 12px -6px oklch(0% 0 0 / 10%),
    0px 6px 6px -1.5px oklch(0% 0 0 / 5%), 0px 4px 4px 0px oklch(0% 0 0 / 5%),
    0px 2px 2px -1px oklch(0% 0 0 / 5%), 0px 1px 1px -0.5px oklch(0% 0 0 / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%), inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-xl:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 24px 24px -22px oklch(0% 0 0 / 10%),
    0px 12px 12px -8px oklch(0% 0 0 / 10%), 0px 6px 6px -3px oklch(0% 0 0 / 5%),
    0px 4px 4px 2px oklch(0% 0 0 / 5%), 0px 2px 2px -1px oklch(0% 0 0 / 5%),
    0px 1px 1px -0.5px oklch(0% 0 0 / 5%), inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%),
    inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);
  --shadow-bevel-2xl:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 40px 40px -28px oklch(0% 0 0 / 10%),
    0px 24px 24px -28px oklch(0% 0 0 / 10%), 0px 12px 12px -8px oklch(0% 0 0 / 10%),
    0px 6px 6px -3px oklch(0% 0 0 / 5%), 0px 4px 4px 2px oklch(0% 0 0 / 5%),
    0px 2px 2px -1px oklch(0% 0 0 / 5%), 0px 1px 1px -0.5px oklch(0% 0 0 / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(0% 0 0 / 5%), inset 0px 3px 3px -1.5px oklch(100% 0 0 / 10%);

  /* Button Shadows */
  --shadow-button-resting:
    0px 0px 0px 1px oklch(100% 0 0 / 5%), 0px 2px 2px -1px oklch(100% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    0px 4px 8px -2px oklch(100% 0 0 / 10%), 0px 8px 12px -8px oklch(100% 0 0 / 10%),
    inset 0px -2px 2px -1px oklch(100% 0 0 / 50%), inset 0px 2px 2px -1px oklch(0% 0 0 / 20%);
  --shadow-button-hover:
    0px 0px 0px 1px oklch(100% 0 0 / 15%), 0px 2px 2px -1px oklch(100% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    0px 4px 8px -2px oklch(100% 0 0 / 10%), 0px 8px 12px -8px oklch(100% 0 0 / 10%),
    inset 0px -2px 2px -1px oklch(100% 0 0 / 50%), inset 0px 2px 2px -1px oklch(0% 0 0 / 20%);
  --shadow-button-destructive-resting:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 5%),
    0px 2px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 4px 8px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 8px 12px -8px oklch(51.17% 0.1823 30.25 / 10%),
    inset 0px -2px 2px -1px oklch(51.17% 0.1823 30.25 / 20%),
    inset 0px 4px 2px -2px oklch(0% 0 0 / 15%);
  --shadow-button-destructive-hover:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 15%),
    0px 2px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 4px 8px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0px 8px 12px -8px oklch(51.17% 0.1823 30.25 / 10%),
    inset 0px -2px 2px -1px oklch(51.17% 0.1823 30.25 / 20%),
    inset 0px 4px 2px -2px oklch(0% 0 0 / 15%);
  --shadow-button-outlined-resting:
    0px 0px 0px 1px oklch(100% 0 0 / 5%), 0px 2px 2px -1px oklch(100% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    0px 4px 8px -2px oklch(100% 0 0 / 10%), inset 0px -2px 2px -1px oklch(100% 0 0 / 20%),
    inset 0px 4px 2px -2px oklch(0% 0 0 / 15%);
  --shadow-button-outlined-hover:
    0px 0px 0px 1px oklch(100% 0 0 / 15%), 0px 2px 2px -1px oklch(100% 0 0 / 10%),
    0px 1px 1px -0.5px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    0px 4px 8px -2px oklch(100% 0 0 / 10%), inset 0px -2px 2px -1px oklch(100% 0 0 / 20%),
    inset 0px 4px 2px -2px oklch(0% 0 0 / 15%);

  /* Input Shadows */
  --shadow-input-resting:
    0 0 0 1px oklch(100% 0 0 / 10%), 0px 0.5px 0px -0.5px oklch(100% 0 0 / 10%),
    0 1px 0 -1px oklch(100% 0 0 / 10%), 0px 1px 1px -1px oklch(100% 0 0 / 10%),
    0px 1px 2px -1px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    0 4px 6px -8px oklch(100% 0 0 / 10%), 0 6px 6px -12px oklch(100% 0 0 / 10%);
  --shadow-input-hover:
    0px 0px 0px 1px oklch(100% 0 0 / 20%), 0px 0.5px 0px -0.5px oklch(100% 0 0 / 10%),
    0 1px 0 -1px oklch(100% 0 0 / 10%), 0px 1px 1px -1px oklch(100% 0 0 / 10%),
    0px 1px 2px -1px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    0 4px 6px -8px oklch(100% 0 0 / 10%), 0 6px 6px -12px oklch(100% 0 0 / 10%);
  --shadow-input-destructive-resting:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 15%),
    0px 0.5px 0px -0.5px oklch(51.17% 0.1823 30.25 / 50%),
    0 1px 0 -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0 4px 6px -8px oklch(51.17% 0.1823 30.25 / 10%);
  --shadow-input-destructive-hover:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 25%),
    0px 0.5px 0px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0 1px 0 -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0 4px 6px -8px oklch(51.17% 0.1823 30.25 / 10%);
  --shadow-input-destructive-focus:
    0px 0px 0px 1px oklch(51.17% 0.1823 30.25 / 25%),
    0px 0.5px 0px -0.5px oklch(51.17% 0.1823 30.25 / 10%),
    0 1px 0 -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 1px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 1px 2px -1px oklch(51.17% 0.1823 30.25 / 10%),
    0px 2px 4px -2px oklch(51.17% 0.1823 30.25 / 10%),
    0 4px 6px -8px oklch(51.17% 0.1823 30.25 / 10%);

  /* Checkbox Shadows */
  --shadow-checkbox-resting:
    0px 0.5px 0px -0.5px oklch(100% 0 0 / 10%), 0 1px 0 -1px oklch(100% 0 0 / 10%),
    0px 1px 1px -1px oklch(100% 0 0 / 10%), 0px 1px 2px -1px oklch(100% 0 0 / 10%),
    0px 2px 4px -2px oklch(100% 0 0 / 10%), 0 4px 6px -8px oklch(100% 0 0 / 10%),
    inset 0px -1px 2px -1px oklch(100% 0 0 / 20%), inset 0px 2px 1px -1px oklch(0% 0 0 / 50%);
  --shadow-checkbox-hover:
    0px 0.5px 0px -0.5px oklch(100% 0 0 / 10%), 0 1px 0 -1px oklch(100% 0 0 / 10%),
    0px 1px 1px -1px oklch(100% 0 0 / 10%), 0px 1px 2px -1px oklch(100% 0 0 / 10%),
    0px 2px 4px -2px oklch(100% 0 0 / 10%), 0 4px 6px -8px oklch(100% 0 0 / 10%),
    0 8px 12px -8px oklch(100% 0 0 / 10%), inset 0px -1px 2px -1px oklch(100% 0 0 / 20%),
    inset 0px 2px 1px -1px oklch(0% 0 0 / 50%);

  /* Switch Shadows */
  --shadow-switch-resting:
    0 0 0 1px oklch(100% 0 0 / 5%), inset 0px 0.5px 1px 0.5px oklch(100% 0 0 / 10%);
  --shadow-switch-hover:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), inset 0px 1px 1px 0.5px oklch(100% 0 0 / 10%);
  --shadow-switch-focus:
    0px 0px 0px 1px oklch(100% 0 0 / 10%), 0px 0px 0px 1px oklch(100% 0 0 / 10%),
    inset 0px 1px 1px 0.5px oklch(100% 0 0 / 10%);
  --shadow-switch-thumb:
    0px 0.5px 0px -0.5px oklch(100% 0 0 / 10%), 0 1px 0 -1px oklch(100% 0 0 / 10%),
    0px 2px 2px -1px oklch(100% 0 0 / 10%), 0px 2px 4px -2px oklch(100% 0 0 / 10%),
    inset 0 -2px 4px -2px oklch(0% 0 0), inset 0px 0.5px 0.5px oklch(0% 0 0 / 10%);

  /* Radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 16px;
  --radius-4xl: 20px;
  --radius-5xl: 24px;
  --radius-6xl: 32px;
  --radius-7xl: 40px;
  --radius-8xl: 48px;
  --radius-9xl: 56px;
}

@theme {
  --color-page: var(--color-neutral-2);
  --color-background: var(--color-neutral-min);
  --color-foreground: var(--color-neutral-12);

  --color-card-background: var(--color-neutral-min);
  --color-card-foreground: var(--color-neutral-max);

  --color-primary: var(--color-carbon-9);
  --color-primary-foreground: var(--color-neutral-min);

  --color-secondary: var(--color-neutral-3);
  --color-secondary-foreground: var(--color-neutral-1);

  --color-accent: var(--color-neutral-2);
  --color-accent-foreground: var(--color-neutral-12);

  --color-muted: var(--color-neutral-2);
  --color-muted-foreground: var(--color-neutral-11);

  --color-border: var(--color-neutral-6);

  --color-ring: hsla(var(--color-neutral-7), 0.2);

  --color-info: var(--color-blue-3);
  --color-info-foreground: var(--color-blue-9);
  --color-success: var(--color-green-3);
  --color-success-foreground: var(--color-green-9);
  --color-warning: var(--color-yellow-3);
  --color-warning-foreground: var(--color-yellow-11);

  --color-destructive: var(--color-red-3);
  --color-destructive-foreground: var(--color-red-9);
  --color-destructive-border: var(--color-red-10);

  --color-popover: var(--color-neutral-1);
  --color-popover-foreground: var(--color-neutral-12);
  --color-popover-border: var(--color-neutral-6);

  --color-input: var(--color-neutral-1);
  --color-input-foreground: var(--color-neutral-12);
  --color-input-muted: var(--color-neutral-2);

  --shadow-bevel-xs: var(--shadow-bevel-xs);
  --shadow-bevel-sm: var(--shadow-bevel-sm);
  --shadow-bevel-md: var(--shadow-bevel-md);
  --shadow-bevel-lg: var(--shadow-bevel-md);
  --shadow-bevel-xl: var(--shadow-bevel-xl);
  --shadow-bevel-2xl: var(--shadow-bevel-2xl);

  --shadow-button-resting: var(--shadow-button-resting);
  --shadow-button-hover: var(--shadow-button-hover);
  --shadow-button-focus: var(--shadow-button-hover);

  --shadow-button-destructive-resting: var(--shadow-button-destructive-resting);
  --shadow-button-destructive-hover: var(--shadow-button-destructive-hover);
  --shadow-button-destructive-focus: var(--shadow-button-destructive-focus);

  --shadow-button-outlined-resting: var(--shadow-button-outlined-resting);
  --shadow-button-outlined-hover: var(--shadow-button-outlined-resting);
  --shadow-button-outlined-focus: var(--shadow-button-outlined-resting);

  --shadow-input-resting: var(--shadow-input-resting);
  --shadow-input-hover: var(--shadow-input-hover);
  --shadow-input-focus: var(--shadow-input-focus);
  --shadow-input-destructive-resting: var(--shadow-input-destructive-resting);
  --shadow-input-destructive-hover: var(--shadow-input-destructive-hover);
  --shadow-input-destructive-focus: var(--shadow-input-destructive-focus);

  --shadow-checkbox-resting: var(--shadow-checkbox-resting);
  --shadow-checkbox-hover: var(--shadow-checkbox-hover);

  --shadow-switch-resting: var(--shadow-switch-resting);
  --shadow-switch-hover: var(--shadow-switch-resting);
  --shadow-switch-focus: var(--shadow-switch-focus);
  --shadow-switch-thumb: var(--shadow-switch-thumb);

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 10px;
  --radius-2xl: 12px;
  --radius-3xl: 16px;
  --radius-4xl: 20px;
  --radius-5xl: 24px;
  --radius-6xl: 32px;
  --radius-7xl: 40px;
  --radius-8xl: 48px;
  --radius-9xl: 56px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
