:root {
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);

  --color-neutral-min: oklch(100% 0 0);
  --color-neutral-max: oklch(0% 0 0);

  --color-neutral-1: oklch(99.11% 0 0);
  --color-neutral-2: oklch(98.21% 0 0);
  --color-neutral-3: oklch(95.51% 0 0);
  --color-neutral-4: oklch(93.1% 0 0);
  --color-neutral-5: oklch(90.97% 0 0);
  --color-neutral-6: oklch(88.53% 0 0);
  --color-neutral-7: oklch(85.14% 0 0);
  --color-neutral-8: oklch(79.21% 0 0);
  --color-neutral-9: oklch(64.01% 0 0);
  --color-neutral-10: oklch(60.66% 0 0);
  --color-neutral-11: oklch(49.97% 0 0);
  --color-neutral-12: oklch(23.93% 0 0);

  --color-carbon-1: oklch(99.38% 0.0013 106.42);
  --color-carbon-2: oklch(98.26% 0.0017 67.8);
  --color-carbon-3: oklch(95.51% 0.0041 91.45);
  --color-carbon-4: oklch(93.14% 0.0058 84.57);
  --color-carbon-5: oklch(90.76% 0.0075 80.72);
  --color-carbon-6: oklch(88.06% 0.0093 78.28);
  --color-carbon-7: oklch(84.62% 0.0118 84.58);
  --color-carbon-8: oklch(78.36% 0.012 84.58);
  --color-carbon-9: oklch(26.93% 0.0078 84.59);
  --color-carbon-10: oklch(34.91% 0.0074 84.59);
  --color-carbon-11: oklch(50.02% 0.0115 87.52);
  --color-carbon-12: oklch(26.1% 0.0079 84.59);

  --color-blue-1: oklch(96.77% 0.0027 286.35);
  --color-blue-2: oklch(95.53% 0.0083 271.33);
  --color-blue-3: oklch(93.1% 0.0184 269.08);
  --color-blue-4: oklch(90.41% 0.0372 268.89);
  --color-blue-5: oklch(86.93% 0.0576 270);
  --color-blue-6: oklch(82.79% 0.079 269.55);
  --color-blue-7: oklch(77% 0.0956 268.87);
  --color-blue-8: oklch(69.15% 0.126 269.7);
  --color-blue-9: oklch(53.13% 0.2117 269.5);
  --color-blue-10: oklch(48.45% 0.1918 269.57);
  --color-blue-11: oklch(47.22% 0.1921 269.55);
  --color-blue-12: oklch(31.36% 0.0956 269.13);

  --color-indigo-1: oklch(96.58% 0.0041 301.42);
  --color-indigo-2: oklch(95.47% 0.012 286.17);
  --color-indigo-3: oklch(93.33% 0.0242 285.92);
  --color-indigo-4: oklch(90.16% 0.0504 287.82);
  --color-indigo-5: oklch(90.16% 0.0504 287.82);
  --color-indigo-6: oklch(82.63% 0.0921 288.37);
  --color-indigo-7: oklch(77.02% 0.1189 287.63);
  --color-indigo-8: oklch(69.06% 0.1566 287.89);
  --color-indigo-9: oklch(55.63% 0.2368 288.08);
  --color-indigo-10: oklch(50.99% 0.2119 287.99);
  --color-indigo-11: oklch(47.02% 0.2114 288.14);
  --color-indigo-12: oklch(31.4% 0.1289 288.26);

  --color-green-1: oklch(99.32% 0.0058 153.78);
  --color-green-2: oklch(98.14% 0.0099 155.1);
  --color-green-3: oklch(96% 0.0248 152.88);
  --color-green-4: oklch(93.3% 0.039 153.49);
  --color-green-5: oklch(90.13% 0.0566 152.99);
  --color-green-6: oklch(85.72% 0.0751 152.95);
  --color-green-7: oklch(79.82% 0.0995 152.34);
  --color-green-8: oklch(71.73% 0.1375 152.09);
  --color-green-9: oklch(59.48% 0.1496 152.41);
  --color-green-10: oklch(55.05% 0.1399 152.51);
  --color-green-11: oklch(52.83% 0.1391 151.98);
  --color-green-12: oklch(32.7% 0.0573 152.54);

  --color-red-1: oklch(99.34% 0.0032 17.21);
  --color-red-2: oklch(98.35% 0.0066 28.83);
  --color-red-3: oklch(95.55% 0.0193 33.36);
  --color-red-4: oklch(92.39% 0.0391 31.56);
  --color-red-5: oklch(89.37% 0.056 30.52);
  --color-red-6: oklch(85.5% 0.0701 30.6);
  --color-red-7: oklch(80.46% 0.0849 29.91);
  --color-red-8: oklch(74.16% 0.1072 29.84);
  --color-red-9: oklch(55.69% 0.1824 30.14);
  --color-red-10: oklch(51.17% 0.1823 30.25);
  --color-red-11: oklch(56.26% 0.1824 30.09);
  --color-red-12: oklch(34.39% 0.0841 30.19);

  --color-orange-1: oklch(99.25% 0.003 44.27);
  --color-orange-2: oklch(97.9% 0.0111 45.72);
  --color-orange-3: oklch(95.53% 0.0254 52.23);
  --color-orange-4: oklch(91.14% 0.0525 53.02);
  --color-orange-5: oklch(88.02% 0.0723 52.29);
  --color-orange-6: oklch(85.53% 0.0857 47.69);
  --color-orange-7: oklch(80.43% 0.0914 46.16);
  --color-orange-8: oklch(74.44% 0.1083 45.72);
  --color-orange-9: oklch(67.09% 0.1589 46.43);
  --color-orange-10: oklch(63.27% 0.1618 46.35);
  --color-orange-11: oklch(58.9% 0.1549 46.78);
  --color-orange-12: oklch(34.87% 0.0582 46.18);

  --color-yellow-1: oklch(99.4% 0.0041 91.45);
  --color-yellow-2: oklch(98.64% 0.024 96.56);
  --color-yellow-3: oklch(96.63% 0.0746 100.25);
  --color-yellow-4: oklch(94.59% 0.1098 99.21);
  --color-yellow-5: oklch(92.1% 0.1367 96.69);
  --color-yellow-6: oklch(88.11% 0.129 96.8);
  --color-yellow-7: oklch(83.15% 0.1212 96.92);
  --color-yellow-8: oklch(76.19% 0.138 96.64);
  --color-yellow-9: oklch(88.88% 0.1827 95.76);
  --color-yellow-10: oklch(85.87% 0.1743 96.46);
  --color-yellow-11: oklch(57.39% 0.1176 93.46);
  --color-yellow-12: oklch(35.58% 0.0457 96.16);
}

[data-theme='default'][data-mode='light'] {
  --color-page: var(--color-neutral-2);
  --color-background: var(--color-neutral-min);
  --color-foreground: var(--color-neutral-12);

  --color-card: var(--color-neutral-min);
  --color-card-foreground: var(--color-neutral-max);

  --color-primary: var(--color-carbon-12);
  --color-primary-foreground: var(--color-neutral-min);

  --color-secondary: var(--color-neutral-3);
  --color-secondary-foreground: var(--color-neutral-1);

  --color-accent: var(--color-neutral-9);
  --color-accent-foreground: var(--color-neutral-12);

  --color-muted: var(--color-neutral-3);
  --color-muted-foreground: var(--color-neutral-10);

  --color-border: var(--color-neutral-6);

  --color-ring: oklch(from var(--color-neutral-7) l c h / 50%);

  --color-info: var(--color-blue-3);
  --color-info-foreground: var(--color-blue-11);
  --color-success: var(--color-green-3);
  --color-success-foreground: var(--color-green-11);
  --color-warning: var(--color-yellow-3);
  --color-warning-foreground: var(--color-yellow-11);

  --color-destructive: var(--color-red-4);
  --color-destructive-foreground: var(--color-red-11);
  --color-destructive-border: var(--color-red-10);

  --color-popover: var(--color-neutral-min);
  --color-popover-foreground: var(--color-neutral-12);

  --color-input: var(--color-neutral-min);
  --color-input-foreground: var(--color-neutral-12);
  --color-input-muted: var(--color-neutral-3);

  --shadow-bevel-xs:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
  --shadow-bevel-sm:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 4px 4px -2px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
  --shadow-bevel-md:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 6px 6px -3px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 4px 4px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
  --shadow-bevel-lg:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 12px 12px -6px oklch(from oklch(0% 0 0) l c h / 10%),
    0px 6px 6px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 4px 4px 0px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
  --shadow-bevel-xl:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 24px 24px -22px oklch(from oklch(0% 0 0) l c h / 10%),
    0px 12px 12px -8px oklch(from oklch(0% 0 0) l c h / 10%),
    0px 6px 6px -3px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 4px 4px 2px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
  --shadow-bevel-2xl:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 40px 40px -28px oklch(from oklch(0% 0 0) l c h / 10%),
    0px 24px 24px -28px oklch(from oklch(0% 0 0) l c h / 10%),
    0px 12px 12px -8px oklch(from oklch(0% 0 0) l c h / 10%),
    0px 6px 6px -3px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 4px 4px 2px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
    0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
    inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);

  --shadow-button-resting:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 5%),
    0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 8px 12px -8px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 50%),
    inset 0px 2px 2px -1px oklch(from var(--color-neutral-min) l c h / 20%);
  --shadow-button-hover:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 15%),
    0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 8px 12px -8px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 50%),
    inset 0px 2px 2px -1px oklch(from var(--color-neutral-min) l c h / 20%);

  --shadow-button-destructive-resting:
    0px 0px 0px 1px oklch(from var(--color-destructive-border) l c h / 5%),
    0px 2px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 1px 1px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 4px 8px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 8px 12px -8px oklch(from var(--color-destructive-border) l c h / 10%),
    inset 0px -2px 2px -1px oklch(from var(--color-destructive-border) l c h / 20%),
    inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);
  --shadow-button-destructive-hover:
    0px 0px 0px 1px oklch(from var(--color-destructive-border) l c h / 15%),
    0px 2px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 1px 1px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 4px 8px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 8px 12px -8px oklch(from var(--color-destructive-border) l c h / 10%),
    inset 0px -2px 2px -1px oklch(from var(--color-destructive-border) l c h / 20%),
    inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);

  --shadow-button-outlined-resting:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 5%),
    0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
    inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);
  --shadow-button-outlined-hover:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 15%),
    0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
    inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);

  box-shadow:
    0px 8px 12px -12px rgba(0, 0, 0, 0.1),
    0px 4px 8px -2px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1),
    0px 1px 1px -0.5px rgba(0, 0, 0, 0.1),
    0px 2px 2px -1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    inset 0px 4px 2px -1px rgba(255, 255, 255, 0.15),
    inset 0px -1px 2px -1px rgba(0, 0, 0, 0.1);

  --shadow-input-resting:
    0 0 0 1px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0 -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0 4px 8px -8px oklch(from var(--color-neutral-max) l c h / 10%),
    0 8px 12px -12px oklch(from var(--color-neutral-max) l c h / 10%);
  --shadow-input-hover:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 20%),
    inset 0 -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0 8px 12px -12px oklch(from var(--color-neutral-max) l c h / 10%);
  --shadow-input-destructive-resting:
    0 0 0 1px oklch(from var(--color-destructive-border) l c h / 15%),
    inset 0 -1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 0.5px 0px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 1px 1px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0 4px 8px -8px oklch(from var(--color-destructive-border) l c h / 10%),
    0 8px 12px -12px oklch(from var(--color-destructive-border) l c h / 10%);
  --shadow-input-destructive-hover:
    0px 0px 0px 1px oklch(from var(--color-destructive-border) l c h / 25%),
    inset 0 -1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 0.5px 0px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 1px 1px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0 4px 8px -2px oklch(from var(--color-destructive-border) l c h / 10%),
    0 8px 12px -12px oklch(from var(--color-destructive-border) l c h / 10%);

  --shadow-checkbox-resting:
    0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0 4px 6px -8px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
    inset 0px 2px 1px -1px oklch(from var(--color-neutral-min) l c h / 50%);
  --shadow-checkbox-hover:
    0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    0 4px 6px -8px oklch(from var(--color-neutral-max) l c h / 10%),
    0 8px 12px -8px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
    inset 0px 2px 1px -1px oklch(from var(--color-neutral-min) l c h / 50%);

  --shadow-switch-resting:
    0 0 0 1px oklch(from var(--color-neutral-max) l c h / 5%),
    inset 0px 0.5px 1px 0.5px oklch(from var(--color-neutral-max) l c h / 10%);
  --shadow-switch-hover:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px 1px 1px 0.5px oklch(from var(--color-neutral-max) l c h / 10%);
  --shadow-switch-focus:
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 0px 1px 1px 0.5px oklch(from var(--color-neutral-max) l c h / 10%);
  --shadow-switch-thumb:
    0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
    0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
    0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
    inset 2px 4px 4px -2px oklch(from var(--color-neutral-min) l c h),
    inset -1px -1px 1px -1px oklch(from var(--color-neutral-min) l c h),
    inset 0 -2px 4px -2px oklch(from var(--color-neutral-min) l c h),
    inset 0px 0.5px 0.5px oklch(from var(--color-neutral-min) l c h / 50%);

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 14px;
  --radius-3xl: 16px;
  --radius-4xl: 20px;
  --radius-5xl: 24px;
  --radius-6xl: 32px;
  --radius-7xl: 40px;
  --radius-8xl: 48px;
  --radius-9xl: 56px;
}
