@import '../light.css';
@import '../dark.css';

@custom-variant theme-default {
  &:where([data-theme='default'] *) {
    @slot;
  }
}

@layer base {
  [data-theme='default'] {
    --color-page: var(--color-neutral-2);
    --color-background: var(--color-neutral-min);
    --color-foreground: var(--color-neutral-12);

    --color-card: var(--color-neutral-min);
    --color-card-foreground: var(--color-neutral-max);

    --color-primary: var(--color-carbon-12);
    --color-primary-foreground: var(--color-neutral-min);

    --color-secondary: var(--color-neutral-3);
    --color-secondary-foreground: var(--color-neutral-1);

    --color-accent: var(--color-neutral-9);
    --color-accent-foreground: var(--color-neutral-12);

    --color-muted: var(--color-neutral-3);
    --color-muted-foreground: var(--color-neutral-10);

    --color-border: var(--color-neutral-6);

    --color-ring: oklch(from var(--color-neutral-7) l c h / 50%);

    --color-info: var(--color-blue-3);
    --color-info-foreground: var(--color-blue-11);
    --color-success: var(--color-green-3);
    --color-success-foreground: var(--color-green-11);
    --color-warning: var(--color-yellow-3);
    --color-warning-foreground: var(--color-yellow-11);

    --color-destructive: var(--color-red-4);
    --color-destructive-foreground: var(--color-red-11);
    --color-destructive-border: var(--color-red-10);

    --color-popover: var(--color-neutral-min);
    --color-popover-foreground: var(--color-neutral-12);

    --color-input: var(--color-neutral-min);
    --color-input-foreground: var(--color-neutral-12);
    --color-input-muted: var(--color-neutral-3);

    --shadow-bevel-xs:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
    --shadow-bevel-sm:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 4px 4px -2px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
    --shadow-bevel-md:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 6px 6px -3px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 4px 4px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
    --shadow-bevel-lg:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 12px 12px -6px oklch(from oklch(0% 0 0) l c h / 10%),
      0px 6px 6px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 4px 4px 0px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
    --shadow-bevel-xl:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 24px 24px -22px oklch(from oklch(0% 0 0) l c h / 10%),
      0px 12px 12px -8px oklch(from oklch(0% 0 0) l c h / 10%),
      0px 6px 6px -3px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 4px 4px 2px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);
    --shadow-bevel-2xl:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 40px 40px -28px oklch(from oklch(0% 0 0) l c h / 10%),
      0px 24px 24px -28px oklch(from oklch(0% 0 0) l c h / 10%),
      0px 12px 12px -8px oklch(from oklch(0% 0 0) l c h / 10%),
      0px 6px 6px -3px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 4px 4px 2px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 2px 2px -1px oklch(from oklch(0% 0 0) l c h / 5%),
      0px 1px 1px -0.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px -1.5px 1.5px -1.5px oklch(from oklch(0% 0 0) l c h / 5%),
      inset 0px 3px 3px -1.5px oklch(from oklch(100% 0 0) l c h / 10%);

    --shadow-button-resting:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 8px 12px -8px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 50%),
      inset 0px 2px 2px -1px oklch(from var(--color-neutral-min) l c h / 20%);
    --shadow-button-hover:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 15%),
      0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 8px 12px -8px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 50%),
      inset 0px 2px 2px -1px oklch(from var(--color-neutral-min) l c h / 20%);

    --shadow-button-destructive-resting:
      0px 0px 0px 1px oklch(from var(--color-destructive-border) l c h / 5%),
      0px 2px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 1px 1px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 4px 8px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 8px 12px -8px oklch(from var(--color-destructive-border) l c h / 10%),
      inset 0px -2px 2px -1px oklch(from var(--color-destructive-border) l c h / 20%),
      inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);
    --shadow-button-destructive-hover:
      0px 0px 0px 1px oklch(from var(--color-destructive-border) l c h / 15%),
      0px 2px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 1px 1px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 4px 8px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 8px 12px -8px oklch(from var(--color-destructive-border) l c h / 10%),
      inset 0px -2px 2px -1px oklch(from var(--color-destructive-border) l c h / 20%),
      inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);

    --shadow-button-outlined-resting:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
      inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);
    --shadow-button-outlined-hover:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 15%),
      0px 2px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px -2px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
      inset 0px 4px 2px -2px oklch(from var(--color-neutral-min) l c h / 15%);

    --shadow-input-resting:
      0 0 0 1px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0 -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0 4px 8px -8px oklch(from var(--color-neutral-max) l c h / 10%),
      0 8px 12px -12px oklch(from var(--color-neutral-max) l c h / 10%);
    --shadow-input-hover:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 20%),
      inset 0 -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0 4px 8px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0 8px 12px -12px oklch(from var(--color-neutral-max) l c h / 10%);
    --shadow-input-destructive-resting:
      0 0 0 1px oklch(from var(--color-destructive-border) l c h / 15%),
      inset 0 -1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 0.5px 0px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
      0 1px 0 -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0 4px 8px -8px oklch(from var(--color-destructive-border) l c h / 10%),
      0 8px 12px -12px oklch(from var(--color-destructive-border) l c h / 10%);
    --shadow-input-destructive-hover:
      0px 0px 0px 1px oklch(from var(--color-destructive-border) l c h / 25%),
      inset 0 -1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 0.5px 0px -0.5px oklch(from var(--color-destructive-border) l c h / 10%),
      0 1px 0 -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 1px 2px -1px oklch(from var(--color-destructive-border) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0 4px 8px -2px oklch(from var(--color-destructive-border) l c h / 10%),
      0 8px 12px -12px oklch(from var(--color-destructive-border) l c h / 10%);

    --shadow-checkbox-resting:
      0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0 4px 6px -8px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
      inset 0px 2px 1px -1px oklch(from var(--color-neutral-min) l c h / 50%);
    --shadow-checkbox-hover:
      0px 0.5px 0px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      0 1px 0 -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 10%),
      0 4px 6px -8px oklch(from var(--color-neutral-max) l c h / 10%),
      0 8px 12px -8px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px -1px 2px -1px oklch(from var(--color-neutral-max) l c h / 20%),
      inset 0px 2px 1px -1px oklch(from var(--color-neutral-min) l c h / 50%);

    --shadow-switch-resting:
      0 0 0 1px oklch(from var(--color-neutral-max) l c h / 5%),
      inset 0px 0.5px 1px 0px oklch(from var(--color-neutral-max) l c h / 10%);
    --shadow-switch-hover:
      0 0 0 1px oklch(from var(--color-neutral-max) l c h / 10%),
      inset 0px 0.5px 1px 0.5px oklch(from var(--color-neutral-max) l c h / 10%);

    --shadow-switch-thumb:
      4px 8px 12px -6px oklch(from var(--color-neutral-max) l c h / 10%),
      2px 2px 8px -4px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 0px 0px 0.25px oklch(from var(--color-neutral-max) l c h / 10%),
      0.5px 0.5px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      1px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      1px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      2px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 25%),
      inset -2px -3px 2px -2px oklch(from var(--color-neutral-min) l c h / 100%),
      inset 0.25px 0.25px 0.5px oklch(from var(--color-neutral-min) l c h / 75%),
      inset -4px -4px 16px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      inset 8px 6px 8px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      inset 0px -0.5px 2px 0.5px oklch(from var(--color-neutral-max) l c h / 10%);

    --shadow-switch-thumb-dark:
      4px 8px 12px -6px oklch(from var(--color-neutral-max) l c h / 10%),
      2px 2px 8px -4px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 0px 0px 0.25px oklch(from var(--color-neutral-max) l c h / 10%),
      0.5px 0.5px 1px -0.5px oklch(from var(--color-neutral-max) l c h / 10%),
      1px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      1px 1px 2px -1px oklch(from var(--color-neutral-max) l c h / 10%),
      2px 2px 4px -2px oklch(from var(--color-neutral-max) l c h / 25%),
      inset -2px -3px 2px -2px oklch(from var(--color-neutral-min) l c h / 10%),
      inset 0.25px 0.25px 0.5px oklch(from var(--color-neutral-min) l c h / 25%),
      inset -4px -4px 16px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      inset 8px 6px 8px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      inset 0px -0.5px 2px 0.5px oklch(from var(--color-neutral-max) l c h / 10%);

    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 10px;
    --radius-xl: 12px;
    --radius-2xl: 14px;
    --radius-3xl: 16px;
    --radius-4xl: 20px;
    --radius-5xl: 24px;
    --radius-6xl: 32px;
    --radius-7xl: 40px;
    --radius-8xl: 48px;
    --radius-9xl: 56px;
  }
}
