@import '../light.css';
@import '../dark.css';

@custom-variant theme-rounded {
  &:where([data-theme='rounded'] *) {
    @slot;
  }
}

@layer base {
  [data-theme='rounded'] {
    --color-page: var(--color-neutral-2);
    --color-background: var(--color-neutral-1);
    --color-foreground: var(--color-neutral-12);

    --color-card: var(--color-neutral-min);
    --color-card-foreground: var(--color-neutral-max);

    --color-primary: var(--color-carbon-12);
    --color-primary-foreground: var(--color-neutral-min);

    --color-secondary: var(--color-neutral-5);
    --color-secondary-foreground: var(--color-neutral-9);

    --color-accent: var(--color-neutral-8);
    --color-accent-foreground: var(--color-neutral-10);

    --color-muted: var(--color-neutral-3);
    --color-muted-foreground: var(--color-neutral-9);

    --color-border: var(--color-neutral-7);

    --color-ring: oklch(from var(--color-neutral-max) l c h / 10%);

    --color-info: var(--color-blue-3);
    --color-info-foreground: var(--color-blue-9);
    --color-success: var(--color-green-3);
    --color-success-foreground: var(--color-green-9);
    --color-warning: var(--color-yellow-3);
    --color-warning-foreground: var(--color-yellow-11);

    --color-destructive: var(--color-red-4);
    --color-destructive-foreground: var(--color-red-9);
    --color-destructive-border: var(--color-red-10);

    --color-popover: var(--color-neutral-min);
    --color-popover-foreground: var(--color-neutral-12);

    --color-input: var(--color-neutral-min);
    --color-input-foreground: var(--color-neutral-12);
    --color-input-muted: var(--color-neutral-3);

    --shadow-bevel-xs:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 5%);
    --shadow-bevel-sm:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 1px -2px oklch(from var(--color-neutral-max) l c h / 5%);
    --shadow-bevel-md:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 1px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 4px 2px -4px oklch(from var(--color-neutral-max) l c h / 5%);
    --shadow-bevel-lg:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 1px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 4px 2px -4px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 6px 3px -6px oklch(from var(--color-neutral-max) l c h / 10%);
    --shadow-bevel-xl:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 1px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 4px 2px -4px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 6px 3px -6px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 12px 6px -12px oklch(from var(--color-neutral-max) l c h / 10%);
    --shadow-bevel-2xl:
      0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 1px 1px -1px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 2px 1px -2px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 4px 2px -4px oklch(from var(--color-neutral-max) l c h / 5%),
      0px 6px 3px -6px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 12px 6px -12px oklch(from var(--color-neutral-max) l c h / 10%),
      0px 24px 12px -24px oklch(from var(--color-neutral-max) l c h / 10%);

    --shadow-button-resting: none;
    --shadow-button-hover: none;

    --shadow-button-destructive-resting: none;
    --shadow-button-destructive-hover: none;

    --shadow-button-outlined-resting: none;
    --shadow-button-outlined-hover: none;

    --shadow-input-resting: 0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 10%);
    --shadow-input-hover: 0px 0px 0px 1px oklch(from var(--color-neutral-max) l c h / 20%);
    --shadow-input-destructive-resting: 0px 0px 0px 1px
      oklch(from var(--color-destructive-border) l c h / 25%);
    --shadow-input-destructive-hover: 0px 0px 0px 1px
      oklch(from var(--color-destructive-border) l c h / 50%);

    --shadow-checkbox-resting: none;
    --shadow-checkbox-hover: none;

    --shadow-switch-resting: none;
    --shadow-switch-hover: none;
    --shadow-switch-focus: none;
    --shadow-switch-thumb: none;

    --radius-xs: 8px;
    --radius-sm: 10px;
    --radius-md: 12px;
    --radius-lg: 14px;
    --radius-xl: 16px;
    --radius-2xl: 20px;
    --radius-3xl: 24px;
    --radius-4xl: 32px;
    --radius-5xl: 36px;
    --radius-6xl: 40px;
    --radius-7xl: 48px;
    --radius-8xl: 56px;
    --radius-9xl: 64px;
  }
}
